.b-h1 { margin: 6rem 0rem; }
@media only screen and (max-width: 550px) { .b-h1  { margin: 3rem 0rem; } }

.b-h2 {
  font-size: 25px;
  color: #989898;
  margin: 2rem 0;
}

.b-h3 {
  font-size: 40px;
  margin-top: 4rem;
}

.b-h4 {
  font-size: 30px;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.b-inline-img {
	max-width: 50%;
	float: left;
	margin-top: .5rem;
	padding-right: 1.8rem;
	padding-bottom: 1rem;
}

.b-link { color: blue; }
.b-link:visited { color: lightblue }

.b-reference {
	font-size: 14px;
	line-height: 25px;
	padding: 0rem 0rem;
	word-wrap: break-word;
}

